
body{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.bg-primary{
  display: flex;
  background: linear-gradient(90deg, rgba(0,230,61,1) 0%, rgb(2, 0, 36) 33%, rgba(0,212,255,1) 100%);
  padding: 1rem;
  width: auto; /* Cambiado a auto */
  max-width: 100%; /* Ajusta este valor según tus necesidades */
  border-radius: 2rem;
  color: #FFF;
  font-weight: bold;
}
label{
  font-size: .8rem;
}